/* Product Cart & View */
.card {
    border: none;
}

.quantity .input-group {
    flex-wrap: nowrap;
}

.text {
    margin-right: auto;
}

.arrow {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
    font-size: 1.3rem;
}

.reviews .star {
    color: #ffd700;
    font-size: 1.5rem;
}
/* End Product Cart & View */

/* Paymen Success */
.success-icon {
    position: relative;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.outer-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #c8e6c9;
    animation: pulse 2s infinite;
}

.inner-circle {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-color: #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark {
    display: inline-block;
    width: 23px;
    height: 37px;
    border-right: 7px solid #c8e6c9;
    border-bottom: 7px solid #c8e6c9;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
    margin-bottom: 7px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
  
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* End Payment Success */

.modal-header {
    background-color: #333;
    color: #fff;
  }
  
  .modal-title .material-symbols-outlined {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .modal-body h6 {
    margin-bottom: 20px;
  }
  
  .order-status p {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
  }
  
  .status-dot {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .order-status p:nth-child(1) .status-dot,
  .order-status p:nth-child(3) .status-dot,
  .order-status p:nth-child(5) .status-dot {
    background-color: #28a745;
  }
  
  .order-status small {
    display: block;
    margin-bottom: 15px;
  }

/* Filter Range Product */
  .input-group-text {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    background-color: #f4f2f0;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.form-range {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: black;
    outline: none;
    margin: 15px 0;
}

/* .form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #007bff;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
}

.form-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
}

.current-value {
    position: absolute;
    top: -10px;
    left: 0;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 10px;
    white-space: nowrap;
    display: none;
    font-family: 'Crimson Text', serif;
}

.current-value::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #007bff transparent transparent transparent;
} */
/* End Filter Range Product */

/* Product */
@media (max-width: 1029px) {
    .product-image,
    .product-details,
    .product-payment {
        width: 100%;
    }

    .product-image {
        order: 1;
    }

    .product-details {
        order: 2;
        margin-top: 20px;
    }

    .product-payment {
        order: 3;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1510px) {
    .product-filter {
        display: none !important;
    }
    .product-list {
        width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .d-lg-none {
        display: block !important;
    }
}
/* End Product */

/* Header Main */
@media (max-width: 1390px) {
    .navbar-collapse {
        display: none;
    }
}
/* End Header Main */

/* Payment */
@media (max-width: 1106px){
    .payment-item,
    .payment-method {
        width: 100%;
    }

    .payment-item {
        order: 1;
    }

    .payment-method {
        order: 2;
        margin-top: 20px;
    }
}
/* End Payment */


