#about {
    background: url('/public/images/homepage/about-us.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about h2, #about h1, #about p {
    color: #ffffff; /* Ubah warna teks sesuai kebutuhan untuk kontras dengan background */
}

.card {
    width: 431px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#goals-card-header {
    position: absolute;
    top: -100px;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

a:hover {
    color: gray;
}
